.photo__like {
  width: 22px;
  height: 19px;
  background-image: url('../../../img/like.svg');
  margin-right: 20px;
}

.photo__like:hover {
  background-image: url('../../../img/like-hover.svg');
}

.photo__like:active {
  background-image: url('../../../img/like-active.svg');
}
